:root {
  color-scheme: light dark;
  --header-font-color-alt: darkgray;
  --header-font-color-hover: gray;
  --font-serif: "Times New Roman", Times, ui-serif, Georgia, Cambria, serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size-default: 1.125rem;
  --post-max-width: 800px;
}

@media(prefers-color-scheme: light) {
  :root {
    --body-background-color: white;
    --youtube-disclaimer-background-color: #fafafa;
    --font-color: black;
    --font-color-alt: gray;
    --font-color-pre-tag: black;
    --post-link-color: #0185FF;
    --trix-button-background-color: white;
    --post-box-shadow: none;
    --pre-tag-selection-text: white;
    --pre-tag-selection-background: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root  {
    --body-background-color: black;
    --youtube-disclaimer-background-color: #040404;
    --font-color: white;
    --font-color-alt: #b0b0b0;
    --font-color-pre-tag: black;
    --post-link-color: #0185FF;
    --trix-button-background-color: white;
    --post-box-shadow: none;
    --pre-tag-selection-text: white;
    --pre-tag-selection-background: black;
  }
}

@media (min-width: 640px) {
  :root {
    --grid-cols: 1fr;
  }
}

@media (min-width: 768px) { }

@media (min-width: 1024px) {
  :root {
    --grid-cols: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  :root { }
}

@media (min-width: 1536px) {
  :root { }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
picture,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background: var(--body-background-color);
  color: var(--font-color);
	font-family: var(--font-serif);
  font-size: var(--font-size-default);
  line-height: 1.5;
  min-height: 100vh;
  padding: 4rem 2rem;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

::selection {
  background-color: var(--font-color);
  color: var(--body-background-color);
}

pre::selection {
  background-color: var(--pre-tag-selection-background);
  color: var(--pre-tag-selection-text);
}

.header {
  color: var(--font-color);
  margin-bottom: 4rem;
}

.site-name {
  color: inherit;
  display: inline-block;
  font-family: var(--font-serif);
  font-size: 2.5rem;
  line-height: 0.9;
  text-decoration: none;
  text-transform: lowercase;
}

.first-name {
  display: block;
  font-size: 2rem;
  font-style: italic;
}

.last-name {
  display: block;
  font-variant: small-caps;
}

.site-name:hover,
.site-name:focus,
.site-name:active {
  color: var(--header-font-color-hover);
}

main {
  margin: 0 auto 4rem;
  max-width: 1536px;
}

picture {
  max-width: 100%;
  margin-bottom: 2rem;
}

img {
  aspect-ratio: 16 / 9;
  height: auto;
  text-align: center;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

time {
  display: block;
  color: var(--font-color);
  margin-bottom: 2rem;
}

pre {
  color: var(--font-color-pre-tag);
  font-family: var(--font-mono);
  max-width: 100%;
  padding: 1.5rem 2rem;
  margin: 0 0 2rem;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.bio {
  color: var(--font-color);
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 auto 5rem;
  max-width: 900px;
  text-align: center;
  text-wrap: balance;
}

.grid {
  display: grid;
  grid-template-columns: var(--grid-cols);
  grid-gap: 2rem;
  /* row-gap: 4rem; */
}

.article-link {
  color: inherit;
  text-decoration: none;
  display: block;
}

.article-link:hover img {
  opacity: 0.5;
}

.article-link:hover h2 {
  color: var(--font-color);
  text-decoration: underline;
}

.article-link:hover p {
  color: var(--font-color);
}

.grid h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.grid p {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}

.grid picture {
  margin-bottom: 1rem;
}

.post {
  color: var(--font-color);
  margin: 0 auto 2rem;
  max-width: var(--post-max-width);
}

.post h1 {
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  text-wrap: balance;
  margin-bottom: 1rem;
}

.post a {
  text-decoration: none;
  color: var(--post-link-color);
}

.post a:hover {
  text-decoration: underline;
  color: var(--post-link-color);
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}
